[submodule "Code/AMCore/AMTests/lib/Catch2"]
	path = Code/AMCore/AMTests/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Code/AMCore/AMLib/external/FTXUI"]
	path = Code/AMCore/AMLib/external/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI
