Code/AMCore/out
Code/AMCore/CMakePresets.json
Code/AMCore/cpp.hint
Code/AMCore/.vs
Code/AMCore/AMTests/Minimal.runsettings
Documentation
Code/AMCore/AM_API_lib/matcalc/include/matcalc
Code/AMCore/AMGUI/windows/GameShow
Code/AMCore/AMGUI/windows/AMFramework/AMFramework/lua/json
Code/AMCore/AMGUI/windows/AMFramework/AMFramework/Libraries/AMFramework
/.vs/AMFramework/v17/.suo
/Code/AMCore/AMModels/External/xsdInstall/xsd
