<?xml version="1.0"?>
<Project xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <propertyGroup>
    <StartProgram>C:\Users\drogo\Documents\TUM\Thesis\Framework\AMFramework\Code\AMCore\out\build\x64-debug\AMCore\AMCore.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>C:\Users\drogo\Documents\TUM\Thesis\Framework\AMFramework\Code\AMCore\out\build\x64-debug\AMCore</StartWorkingDirectory>
    <CapturePrintMessagesToDebugOutputWindow>false</CapturePrintMessagesToDebugOutputWindow>
    <TextEncoding>0</TextEncoding>
  </propertyGroup>
</Project>